
@{
    ViewBag.Title = "help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h2>Library rules</h2>  

    <div>Membership fee is ₹20.</div>
    <div>Renewal fees will be ₹10 for every 6 months.</div>
    <div>One member can only issue one book at a time.</div> 
    <div>User can issue a book for upto 10 days.</div>
    <div>Late submission & Extra day charges will ₹5 per day</div>
    <div>Once you issue the book & submit, you can not re-issue that book for next 10 days.</div>
    <div>Library will be open for members in the office all day, but issue timing will be 12:00 to 1:00 only.</div>    
    <div>Member who have submitted the book can take their book anytime they want, provided the book is not issued to any member.</div>
    <div>The money collected from the membership fees & late submission charges will be used to purchase new books and/or for maintaining the library.</div>    
    <div>If any member damages the book, he/she shall pay the amount of the book or can submit the good copy of the book.</div>    
    <div>Every six months the most member will be awarded a gift hamper.</div>    
    <div>It is duty of everyone to maintain the quality & standards of the books.</div>
</div>
